@import "tailwindcss";


/* @theme inline {
  --font-oswald: var(--font-oswald);
  --font-urbanist: var(--font-urbanist);
}
body {
  font-family: var(--font-urbanist); 
}

 */
/* styles/globals.css */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #9CA3AF;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
